@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Montserrat:ital,wght@0,200;0,400;1,400&family=Roboto+Mono:wght@300&family=Roboto:ital,wght@0,100;1,100;1,400&family=Ubuntu&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    scroll-behavior: smooth;
}
